h1
{
  color: white;
  text-transform: uppercase;
  font-style: italic;
  font-size: 31px;
  font-family: "William", serif;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 45px;
  font-weight: normal;
}

h2
{
  color: white;
  font-size: 31px;
  font-family: "Inter", sans-serif;
  margin-top: 0px;
  margin-bottom: 35px;
}

h3
{
  color: white;
  font-style: italic;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 18px;
  font-weight: normal;
}

body
{
  min-width: 850px;
}

img
{
  width: 210px;
  margin-bottom: 80px;
}

div
{
  background-color: deepskyblue;
  width: 500px;
  height: 500px;
  text-align: center;
  margin: 0 auto 20px;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(121,9,106,1) 48%, rgba(0,212,255,1) 100%);
}

p
{
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-style: normal;
  font-family: "William", serif;
  font-weight: normal;
  color: white;
}

body
{

  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}