html {
    font-family: 'Montserrat' ,sans-serif;
}

*{
    box-sizing: border-box;
}

body {
    max-width: 1920px;

}

a {
    text-decoration: none;
    
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    padding-left: 0;
}

textarea, input {
  outline: none;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#root{
    display: flex;
    justify-content: center;
}

.Post{
    border: 2px solid teal;
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}


.post__button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.App{
    width: 800px;
}